/* Empty. Add your own CSS if you like */

.nav-bar-block ion-header-bar, .button-plopp {
	background: #44200a;
	color: #fff;
}

.bar .button.button-icon {
	color: #fff;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
color: #44200a !important;
}

.chatbox {
    position:absolute;
    bottom: 0px;
}
.message-input {
    margin-top: 10px;
}
 
.chatbox-container {
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    position:relative;
    height: 200px;
    border: 1px solid rgba(0,0,255, 0.2);
    padding: 10px;
    line-height: 29px;
    overflow: hidden;
}